.custom-button {
  position: relative;
  display: inline-block;
  margin: var(--space-16) 0;
}

.custom-button span {
  position: relative;
}

.custom-button button,
.custom-button a {
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.custom-button button {
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: var(--border-radius-sm);
  font-family: var(--font-family-body);
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

/* Primary Button */
.custom-button button.primary {
  background-color: var(--button-background-color);
}

/* Secondary Button */
.custom-button button.secondary {
  font-style: normal;
}

.custom-button .button:hover::after {
  background-color: var(--button-hover-background-color);
}

/* Button Label */
.custom-button button .label {
  display: block;
}

/* Button Text */
.custom-button button .text {
  display: inline-block;
}

/* Button Outlines */
.custom-button .primary-outline {
  background: transparent;
  border: var(--button-border-width) var(--button-border-style) var(--color-primary);
  color: var(--color-primary);
}

.custom-button .secondary-outline {
  background: transparent;
  border: var(--button-border-width) var(--button-border-style) var(--color-secondary);
  color: var(--color-secondary);
}

/* DButton Download */
.custom-button a.download {
  padding: var(--space-16) var(--space-36) var(--space-16) var(--space-12);
}

.custom-button a.download span::after,
.custom-button button.download span::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -1.5rem;
  transform: translateY(-50%);
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: var(--color-white);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4'%3E%3C/path%3E%3Cpolyline points='7 10 12 15 17 10'%3E%3C/polyline%3E%3Cline x1='12' y1='15' x2='12' y2='3'%3E%3C/line%3E%3C/svg%3E");
  transition: background-color 0.3s, transform 0.3s;
}
