.breadcrumbs nav {
  padding: var(--space-16) 0;
}

.breadcrumbs ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs li {
  display: flex;
  align-items: center;
}

.breadcrumbs li:not(:last-child)::after {
  content: "|";
  margin: 0 var(--space-8);
  color: var(--color-black);
}

.breadcrumbs a {
  color: var(--link-color);
  text-decoration: none;
  font-size: var(--font-size-breadcrumb);
  border-radius: unset;
}

.breadcrumbs a:hover {
  box-shadow: 0 2px rgb(var(--color-error));
  cursor: pointer;
}

.breadcrumbs a[aria-current="page"] {
  color: var(--color-black);
  pointer-events: none;
}