@import url('../language-switcher/language-switcher.css');
@import url('../region-switcher/region-switcher.css');


/* header and nav layout */
header .nav-wrapper {
  background-color: var(--color-white);
  width: 100%;
  z-index: 2;
}

header nav {
  box-sizing: border-box;
  display: flex;
  gap: 0;
  grid-template:
    'brand  hamburger tools' / 1fr auto auto;
  align-items: center;
  margin: auto;
  max-width: 1248px;
  position: relative;
  justify-content: space-between;
}

header nav[aria-expanded='true'] {
  min-height: 100dvh;
  min-height: 0;
  overflow: visible;
}

@media screen and (width >= 900px) {
header nav[aria-expanded='true'] {
    display: grid;
    grid-template:
    'brand sections tools' / 1fr 1fr auto
}

  header nav {
    justify-content: space-between;
    gap: 0 var(--space-32);
    max-width: 1264px;
    padding: 0 var(--space-32);
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
    cursor: pointer;
    color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  order: 3;
}

header nav .nav-hamburger button {
  height: 44px;
  width: 44px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 44px; /* Accessibility: minimum touch target */
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: calc(var(--space-8) * -1);
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: var(--space-8);
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media screen and (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
    position: relative;
  }

  header nav .nav-tools {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--space-8);
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  align-items: center;
  justify-content: flex-start;
}

header nav .nav-brand img {
  width: 100px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  overflow-y: auto;
  height: 100%;
  visibility: visible;
  align-self: start;
  background: var(--color-white);
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 1001;
  width: 100%;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-label);
  line-height: var(--line-height-label);
}

header nav .nav-sections ul > li {
  font-weight: 500;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 400;
}

/* mobile nav-drop styles */
header nav .nav-sections .nav-sections-menu > ul > li.nav-drop {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header nav .nav-sections .nav-sections-menu > ul > li.nav-drop > p {
  margin: 0;
  padding: var(--space-12) var(--space-16);
  font-size: var(--font-size-label);
  line-height: var(--line-height-label);
  color: var(--color-black);
}

header nav .nav-sections .nav-sections-menu > ul > li.nav-drop > p > a {
  color: var(--color-primary-blue);
  text-decoration: none;
}

header nav .nav-sections .nav-sections-menu > ul > li.nav-drop > .nav-sections-1 {
  display: none;
  padding-left: var(--space-24);
  padding-top: var(--space-8);
  list-style: none;
  top: 6rem;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: var(--color-white);
}

header nav .nav-sections .nav-sections-menu > ul > li.nav-drop[aria-expanded='true'] > .nav-sections-1 {
  display: block;
}

header nav .nav-sections .nav-sections-menu > ul > li.nav-drop > .nav-sections-1 > li {
  padding: var(--space-8) 0;
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-label);
  font-weight: 400;
  line-height: var(--line-height-label);
}

header nav .nav-sections .nav-sections-menu > ul > li.nav-drop > .nav-sections-1 > li > a {
  color: var(--color-black);
  text-decoration: none;
  display: block;
  padding: var(--space-8) var(--space-12);
  transition: color var(--transition-base);
  cursor: pointer;
}

header nav .nav-sections .nav-sections-menu > ul > li.nav-drop > .nav-sections-1 > li > a:hover,
header nav .nav-sections .nav-sections-menu > ul > li.nav-drop > .nav-sections-1 > li > a:focus {
  color: var(--color-primary-blue);
  text-decoration: none;
}

@media screen and (width >= 900px) {
  header nav .nav-sections {
    display: block;
    margin-top: 0;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
    position: relative;
    overflow: visible;
    top: 0;
    left: 0;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: var(--space-16);
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    right: var(--space-4);
    transform: rotate(135deg);
    width: 9px;
    height: 9px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: var(--space-24);
    margin: 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    margin: 0;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: var(--space-8) 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li:hover,
  header nav .nav-sections .default-content-wrapper > ul > li:focus {
    background: var(--color-light-grey);
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul {
    display: block;
    position: absolute;
    left: calc(var(--space-24) * -1);
    width: 200px;
    top: 150%;
    padding: var(--space-16);
    background-color: var(--color-light-grey);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: calc(var(--space-8) * -1);
    left: var(--space-16);
    width: 0;
    height: 0;
    border-left: var(--space-8) solid transparent;
    border-right: var(--space-8) solid transparent;
    border-bottom: var(--space-8) solid var(--color-light-grey);
  }

  /* nav-drop dropdown styles using CSS variables */
  header nav .nav-sections .nav-sections-menu > ul > li.nav-drop {
    padding-right: var(--space-16);
    outline: none;
    cursor: pointer;
  }

  header nav .nav-sections .nav-sections-menu > ul > li.nav-drop > p {
    padding: var(--space-8) var(--space-16);
  }

  header nav .nav-sections .nav-sections-menu > ul > li.nav-drop > p > a {
    color: var(--color-primary-blue);
    text-decoration: none;
    pointer-events: none;
    transition: color var(--transition-base);
  }

  header nav .nav-sections .nav-sections-menu > ul > li.nav-drop > p > a:hover,
  header nav .nav-sections .nav-sections-menu > ul > li.nav-drop > p > a:focus {
    color: var(--color-dark-blue);
    text-decoration: none;
  }

  /* dropdown arrow indicator */
  header nav .nav-sections .nav-sections-menu > ul > li.nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: var(--space-4);
    transform: translateY(-50%) rotate(135deg);
    width: 9px;
    height: 9px;
    border: 2px solid var(--color-black);
    opacity: 0.6;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
    transition: transform var(--transition-base);
  }

  header nav .nav-sections .nav-sections-menu > ul > li.nav-drop[aria-expanded='true']::after {
    transform: translateY(-50%) rotate(315deg);
  }

  /* submenu container */
  header nav .nav-sections .nav-sections-menu > ul > li.nav-drop > .nav-sections-1 {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    height: auto;
    min-width: 200px;
    margin-top: var(--space-8);
    padding: var(--space-16);
    background-color: var(--color-white);
    border: 1px solid var(--color-cloud-grey);
    border-radius: var(--space-4);
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    z-index: 1000;
    white-space: initial;
    list-style: none;
  }

  header nav .nav-sections .nav-sections-menu > ul > li.nav-drop[aria-expanded='true'] > .nav-sections-1 {
    display: block;
  }

  /* dropdown arrow pointer */
  header nav .nav-sections .nav-sections-menu > ul > li.nav-drop > .nav-sections-1::before {
    content: '';
    position: absolute;
    top: -8px;
    left: var(--space-24);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--color-white);
  }

  header nav .nav-sections .nav-sections-menu > ul > li.nav-drop > .nav-sections-1::after {
    content: '';
    position: absolute;
    top: -9px;
    left: var(--space-24);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--color-cloud-grey);
  }

  /* submenu items */
  header nav .nav-sections .nav-sections-menu > ul > li.nav-drop > .nav-sections-1 > li {
    padding: var(--space-8) 0;
    margin: 0;
    font-family: var(--font-family-body);
    font-size: var(--font-size-label);
    font-weight: 400;
    line-height: var(--line-height-label);
  }

  header nav .nav-sections .nav-sections-menu > ul > li.nav-drop > .nav-sections-1 > li > a {
    color: var(--color-black);
    text-decoration: none;
    display: block;
    padding: var(--space-8) var(--space-12);
    border-radius: var(--space-4);
    transition: background-color var(--transition-base), color var(--transition-base);
  }

  header nav .nav-sections .nav-sections-menu > ul > li.nav-drop > .nav-sections-1 > li > a:hover,
  header nav .nav-sections .nav-sections-menu > ul > li.nav-drop > .nav-sections-1 > li > a:focus {
    color: var(--color-primary-blue);
    background-color: var(--color-light-grey);
    text-decoration: none;
  }

  header nav .nav-sections .nav-sections-menu > ul > li.nav-drop > .nav-sections-1 > li > a:active {
    color: var(--color-dark-blue);
    background-color: var(--color-primary-grey);
  }
}

/* tools */
header nav .nav-tools {
  display: flex;
}

/* Language switcher in header */
header nav .nav-tools .language-switcher-header {
  display: flex;
  align-items: center;
}

header nav .nav-tools .language-switcher-header .block.language-switcher {
  margin: 0;
}

header nav .nav-tools .language-switcher-header .language-current {
  min-width: auto;
  padding: var(--space-8) var(--space-12);
  font-size: var(--font-size-label);
  border: none;
  background: var(--color-white);
}

header nav .nav-tools .language-switcher-header .language-current:hover {
  background: var(--color-light-grey);
}

header nav .nav-tools .language-switcher-header .language-menu {
  position: absolute;
  right: 0;
  left: auto;
}

header nav .nav-tools .language-switcher-header .language-option {
  padding: var(--space-8) var(--space-12);
}

/* Region switcher in header - uses styles from region-switcher.css */
header nav .nav-tools .region-switcher-header {
  display: flex;
  align-items: center;
}
