.block.tags {
  margin: var(--space-8) 0;
}

.block.tags .tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-8);
}

.block.tags .tag {
  background: var(--color-primary);
  color: var(--color-white);
  font-family: var(--font-family-body);
  line-height: 1;
  padding: var(--space-8) var(--space-12);
  border-radius: 9999px;  
  white-space: nowrap;
}
