/* stylelint-disable no-empty-source */
.fragment.dark {
  padding: var(--space-24) 0;
  box-shadow: 0 0 0 100vmax  var(--color-primary-900);
  clip-path: inset(0 -100vmax);
  background-color: var(--color-primary-900);
  color: var(--color-white);
}