.table {
  width: 100%;
  overflow-x: auto;
}

.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--font-size-base);
}

@media (width >= 600px) {
  .table table {
    font-size: var(--font-size-base);
  }
}

@media (width >= 900px) {
  .table table {
    font-size: var(--font-size-base);
  }
}

.table table thead tr {
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.table table tbody tr {
  border-bottom: 1px solid;
}

.table table th {
  font-weight: 700;
}

.table table th,
.table table td {
  padding: var(--space-8);
  border: 1px solid;
  text-align: left;
}

.table table th p,
.table table td p {
  margin: 0;
}

.table table td p + p {
  margin-top: var(--space-4);
}

/* no header variant */
.table.no-header table tbody tr {
  border-top: 1px solid;
}

/* striped variant */
.table.striped tbody tr:nth-child(odd) {
  background-color: var(--color-grey-200);
}

.table.striped thead tr:first-child,
.table.striped tbody tr:first-child,
.table.striped thead tr:first-child th {
  border-top: none;
  border-left: none;
  border-right: none;
}

/* stylelint-disable */
.table.striped tbody tr,
.table.striped tbody tr td{
  border: none;
}

/* bordered variant */
.table.bordered table th,
.table.bordered table td {
  border: 1px solid;
}

.table.background-dark {
    background-color: var(--color-primary);
    color: var(--color-white);

    a {
        color: var(--color-white);
    }
}

.table.background-dark table thead tr,
.table.background-dark table tbody tr,
.table.background-dark table th,
.table.background-dark table td {
  border-color: var(--color-white);
}

.table.background-dark table tbody tr,
.table.background-dark table th,
.table.background-dark table td {
  border-color: var(--color-white);
}

.table.background-dark.striped tbody tr:first-child {
    background-color: var(--color-primary-500);
}

main .section.gradient {
    .table table thead tr,
    .table table tbody tr,
    .table table th,
    .table table td {
      border-color: var(--color-white);
    }

    .table table tbody tr,
    .table table th,
    .table table td {
        border-color: var(--color-white);
    }
}