.table.block {
  width: 100%;
  overflow-x: auto;
}

.table.block table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--font-size-base);
}

@media (width >= 600px) {
  .table.block table {
    font-size: var(--font-size-base);
  }
}

@media (width >= 900px) {
  .table.block table {
    font-size: var(--font-size-base);
  }
}

.table.block table thead tr {
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.table.block table tbody tr {
  border-bottom: 1px solid;
}

.table.block table th {
  font-weight: 700;
}

.table.block table th,
.table.block table td {
  padding: var(--space-8);
  border: 1px solid;
  text-align: left;
}

.table table th p,
.table table td p {
  margin: 0;
}

.table table td p + p {
  margin-top: var(--space-4);
}

/* no header variant */
.table.block.no-header table tbody tr {
  border-top: 1px solid;
}

/* striped variant */
.table.block.striped tbody tr:nth-child(odd) {
  background-color: var(--color-grey-200);
}

/* bordered variant */
.table.block.bordered table th,
.table.block.bordered table td {
  border: 1px solid;
}


main .section.gradient {
    .table.block table thead tr,
    .table.block table tbody tr,
    .table.block table th,
    .table.block table td {
      border-color: var(--color-white);
    }

    .table.block table tbody tr,
    .table.block table th,
    .table.block table td {
        border-color: var(--color-white);
    }
}