footer {
  font-size: var(--font-size-base);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: var(--space-40) var(--space-24) var(--space-24);
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: var(--space-40) var(--space-32) var(--space-24);
  }
}
