main>.section.videos-container {
    padding: 0;
  }
  
  .videos-modal,
  .videos.block {
    box-sizing: border-box;
  }
  
  .videos-modal>*,
  .videos.block>* {
    box-sizing: inherit;
  }
  
  .videos-wrapper:has(.videos.hero) {
    max-width: unset;
  }
  
  .videos {
    position: relative;
    overflow: hidden;
    background-color: #53565a;
    width: 100%;
    height: auto;
  }
  
  .videos .videos-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
    padding: 24px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    z-index: 2;
  }
  
  .videos .videos-title {
    font-size: 4rem;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
  }
  
  .videos .videos-description {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
  }
  
  .videos .videos-button:any-link {
    display: block;
    background-color: #fff;
    color: #141411;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .videos>picture {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .videos>picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .videos picture,
  .videos picture img {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .videos videos,
  .videos .vjs-poster img {
    height: auto;
    width: 100%;
  }
  
  .custom-play-button {
    position: absolute;
    bottom: 18px;
    right: 18px;
    background-color: transparent;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  .custom-play-button .icon {
    width: 32px;
    height: 32px;
  }
  
  .custom-play-button:hover,
  .custom-play-button:focus {
    background-color: transparent;
  }
  
  .videos-card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 16px;
    list-style: none;
  }
  
  .videos-card {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
  }
  
  .videos-card .videos-container {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 2;
  }
  
  .videos-card videos,
  .videos-card .vjs-poster img {
    object-fit: cover;
  }
  
  .videos-card picture {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .videos-card picture,
  .videos-card .videos-container picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 3 / 2;
  }
  
  .videos-modal .videos-container {
    border-radius: 8px;
    overflow: hidden;
  }
  
  .videos-card .videos-card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 34px;
    overflow: hidden;
  }
  
  .videos-card .videos-card-title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
  }
  
  .videos-card .videos-card-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    color: #53565a;
  }
  
  @media screen and (width >=768px) {
    .videos-card-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .videos-card-grid-item:nth-child(odd):last-child {
      grid-column: 1 / -1;
    }
  
    .videos-card-grid-item:nth-child(odd):last-child .videos-card {
      display: flex;
      flex-direction: row-reverse;
    }
  
    .videos-card-grid-item:nth-child(odd):last-child .videos-container {
      flex: 1 0 50%;
    }
  
    .videos-card-grid-item:nth-child(odd):last-child .videos-card-content {
      justify-content: center;
    }
  }
  
  .videos-component {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .videos-component .videos-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
  
  .videos-component .videos-play-button:hover,
  .videos-component .videos-play-button:focus {
    background-color: #fff;
  }
  
  .videos-component .videos-play-button .icon {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .videos-modal-dialog[open] {
    border: none;
    width: 100%;
    max-width: 1200px;
    padding: 0;
    overflow: auto;
  }
  
  .videos-modal-dialog::backdrop {
    background-color: #fff;
  }
  
  .videos-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .videos-modal .videos-modal-header,
  .videos-modal .videos-modal-content {
    position: relative;
    padding: 10px;
    width: 100%;
  }
  
  .videos-modal .videos-modal-header {
    height: 44px;
  }
  
  .videos-modal .videos-modal-header .videos-modal-close {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 10px;
    margin: 0;
    height: 40px;
    width: 40px;
  }